In [2]:
# Import Files
import os
import sys
import time
import random
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
# Reading the data
data = pd.read_excel("result.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'result.xlsx'

In [9]:
data.columns

Index(['Name', 'S1i', 'S1ex', 'S1t', 'S2i', 'S2ex', 'S2t', 'S3i', 'S3ex',
       'S3t', 'S4i', 'S4ex', 'S4t', 'S5i', 'S5ex', 'S5t', 'S6i', 'S6ex', 'S6t',
       'S7i', 'S7ex', 'S7t', 'S8i', 'S8ex', 'S8t', 'S9i', 'S9ex', 'S9t',
       'S10i', 'S10ex', 'S10t', 'S11i', 'S11ex', 'S11t', 'S12i', 'S12ex',
       'S12t'],
      dtype='object')

In [10]:
data.head()

,Name,S1i,S1ex,S1t,S2i,S2ex,S2t,S3i,S3ex,S3t,...,S9t,S10i,S10ex,S10t,S11i,S11ex,S11t,S12i,S12ex,S12t
0,Abhishek aggarwal,15,20,40,18,47,65,21,53,74,...,66,30,47,77,29,52,81,26,39,65
1,Abhishek kumar,18,30,48,20,56,76,22,57,79,...,66,32,50,82,30,50,80,32,48,80
2,Abhishek mittal,24,66,90,22,65,87,25,61,86,...,79,38,51,89,34,50,84,38,57,95
3,Abhishek singh,10,17,27,19,51,70,21,53,74,...,81,16,42,58,28,40,68,10,40,50
4,Aditya goel,16,28,44,21,55,76,18,57,75,...,72,37,45,82,30,50,80,32,48,80

In [11]:
outputs = []
inp = pd.DataFrame()
for i in range(len(data)):
    r = True
    for j in range(len(data.columns)):
        if('ex' in data.columns[j]):
            if (data[data.columns[j]][i]) < 35:
                r = False
                break
        elif('t' in data.columns[j]):
            if (data[data.columns[j]][i]) < 50:
                r = False
                break
    outputs.append(r)

In [12]:
for item in data.columns:
    if 'i' in item:
        inp[item] = data[item]

In [13]:
inp.columns

Index(['S1i', 'S2i', 'S3i', 'S4i', 'S5i', 'S6i', 'S7i', 'S8i', 'S9i', 'S10i',
       'S11i', 'S12i'],
      dtype='object')

In [14]:
inp['category'] = outputs

In [15]:
inp.to_csv("test.csv", index=False)

In [16]:
inp = pd.read_csv("test.csv")

## Preparing the data for training and testing

In [17]:
# Shuffle function
from sklearn.utils import shuffle
inp = shuffle(inp)

In [18]:
# split into train and test sets
train_size = int(len(inp) * 0.67)
test_size = len(inp) - train_size
train, test = inp.iloc[0:train_size], inp.iloc[train_size:len(inp),:]
print(len(train), len(test))

143 71

In [19]:
train.columns

Index(['S1i', 'S2i', 'S3i', 'S4i', 'S5i', 'S6i', 'S7i', 'S8i', 'S9i', 'S10i',
       'S11i', 'S12i', 'category'],
      dtype='object')

In [20]:
test.columns

Index(['S1i', 'S2i', 'S3i', 'S4i', 'S5i', 'S6i', 'S7i', 'S8i', 'S9i', 'S10i',
       'S11i', 'S12i', 'category'],
      dtype='object')

### SVM Classifier

In [55]:
from sklearn.svm import SVC

In [63]:
reg = SVC(kernel='linear')

In [64]:
np.unique(train['category'])

array([False,  True])

In [1]:
reg.fit(train[['S1i', 'S2i', 'S3i', 'S4i', 'S5i', 'S6i', 'S7i', 'S8i', 'S9i', 'S10i', 'S11i', 'S12i']], train[['category']])

NameError: name 'reg' is not defined

In [66]:
from sklearn.metrics import accuracy_score

In [74]:
# Make predictions using the testing set
reg_y_pred = reg.predict(test[['S1i', 'S2i', 'S3i', 'S4i', 'S5i', 'S6i', 'S7i', 'S8i', 'S9i', 'S10i', 'S11i', 'S12i']])
# Accuracy
print(accuracy_score(test['category'], reg_y_pred))

0.8450704225352113

### Naive Bayes Classifier

In [75]:
from sklearn.naive_bayes import GaussianNB

In [76]:
reg = GaussianNB()

In [77]:
np.unique(train['category'])

array([False,  True])

In [78]:
reg.fit(train[['S1i', 'S2i', 'S3i', 'S4i', 'S5i', 'S6i', 'S7i', 'S8i', 'S9i', 'S10i', 'S11i', 'S12i']], train[['category']])

/home/prodigal-son/anaconda3/envs/sim/lib/python3.6/site-packages/sklearn/utils/validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [79]:
# Make predictions using the testing set
reg_y_pred = reg.predict(test[['S1i', 'S2i', 'S3i', 'S4i', 'S5i', 'S6i', 'S7i', 'S8i', 'S9i', 'S10i', 'S11i', 'S12i']])
# Accuracy
print(accuracy_score(test['category'], reg_y_pred))

0.8732394366197183